.forecast-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: auto;
  border: black solid;
  box-shadow: -20px 10px 20px rgba(0, 0, 0, 0.3);
  margin-top: 75px;
  font-size: 20px;
}

p {
  margin-top: auto;
  font-size: 25px;
}
